.main-container-home {
  height: 90vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: 100% 100%;
  color: white;
}
.inner-home-container {
  display: flex;
  width: 55vw;
  flex-direction: column;
  justify-content: center;
  padding-top: 150px;
  padding-left: 80px;
}
.heading-home {
  font-size: 45px;
  margin: 0px;
}
.paragraph-home {
  font-size: 20px;
  font-family: 'roboto';
  font-weight: 400;
  color: #f8fafc;
  margin-top: 40px;
  margin-bottom: 40px;
}
.jobBtn {
  margin-top: 20px;
  font-size: 17px;
  border: 1px solid #4f46e5;
  background-color: #4f46e5;
  color: white;
  border-radius: 5px;
  padding: 10px;
  padding-left: 13px;
  padding-right: 13px;
  cursor: pointer;
}
