.nav-menu {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #202020;
  align-items: center;
}

.list-item {
  list-style-type: none;
}
.menuContainer {
  display: flex;
}
.menuBtn {
  margin-right: 5px;
  font-size: 20px;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  color: white;
}
.LogoutBtn {
  margin: 5px;
  font-size: 17px;
  border: 1px solid #4f46e5;
  background-color: #4f46e5;
  color: white;
  border-radius: 5px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
