.main-login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}
.login-container {
  height: 55vh;
  width: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  border-radius: 8px;
  background-color: #272727;
}
.website-logo {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.label-login {
  color: white;
  font-size: 17px;
  margin-top: 10px;
}
.inputEle {
  height: 30px;
  border-radius: 3px;
  font-size: 15px;
  padding: 5px;
  color: white;
  margin-top: 10px;
  margin-left: 0px;
  outline: none;
  border: 1px solid whitesmoke;
  background-color: transparent;
}

.submitBtn {
  margin-top: 15px;
  font-size: 17px;
  border: 1px solid #4f46e5;
  background-color: #4f46e5;
  color: white;
  border-radius: 5px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
#error-msg {
  color: red;
}
